.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  font-size: large;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

div a {
  color: #3f3f4d;
  text-decoration: none;
}

div a:hover {
  cursor: pointer;
  color: rgb(97, 188, 188);
}

div a:nth-last-child(2) {
  color: red;
  display: flex;
  justify-content: end;
}
