.footer {
  display: flex;
  justify-content: space-around;
  height: 290px;
  background-color: rgb(106, 107, 105);
  color: white;
}

.social {
  display: flex;
  justify-content: space-around;
  margin-top: 14px;
  max-width: 80px;
}

.inputGmail {
  height: 32px;
  border-radius: 3px;
  border: 1px solid rgb(31, 169, 255);
  color: black;
  font-weight: 500;
}

.btnGo {
  color: black;
  height: 33px;
  width: 33px;
  font-weight: 500;
  /* font-size;
  font-weight: ; */
}
.footer_text {
  display: flex;
  /* margin-top: 25px; */
  width: 100%;
  background-color: rgb(106, 107, 105);
}
